# Setup

## Load packages

In [ ]:
import pandas as pd
import requests
from google.colab import drive
import json
import time
import re
import os

## Setup Google Drive

Mount Google Drive in Colab. Add path to text file containing API key.

In [ ]:
# Mount Google Drive
drive.mount('/content/drive')

# Path to API key file in Google Drive
api_key_path = "/content/drive/My Drive/Outlaw Ocean/Global Fishing Watch/gfw_key2.txt"

# Read API key from file
with open(api_key_path, "r") as file:
    API_TOKEN = file.read().strip()

Mounted at /content/drive

## Setup Vessels API

In [ ]:
# API Settings
url = "https://gateway.api.globalfishingwatch.org/v3/vessels/search"

In [ ]:
# Set request headers
headers = {
    "Authorization": f"Bearer {API_TOKEN}"
}

In [ ]:
# Rate limits
DAILY_LIMIT = 40000
PER_MINUTE_LIMIT = 60
REQUEST_DELAY = 60 / PER_MINUTE_LIMIT  # Time per request

## Load list of vessels to search

In [ ]:
# Define file path
file_path = "/content/drive/My Drive/Outlaw Ocean/Global Fishing Watch/Sheet 1-master_2025-02-26_14-28-24.csv"

In [ ]:
# Read the Google Sheet into a DataFrame with latin-1 encoding
try:
    vessels_df = pd.read_csv(file_path)
    print('File read successfully with default utf-8 encoding')
except UnicodeDecodeError:
    print('Failed to read with utf-8 encoding')
    try:
        vessels_df = pd.read_csv(file_path, encoding='ISO-8859-1')
        print('File read successfully with ISO-8859-1 encoding')
    except UnicodeDecodeError:
        print('Failed to read with ISO-8859-1 encoding')
        vessels_df = None

<ipython-input-7-7a50ab8b69ec>:3: DtypeWarning: Columns (1,8,9,10,11,13,16,19,21,23,29,35,38,47,48,49,50,51,52,53,54,55,56,57,58,65,66,67,68,71,77,78,79,80,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,107,108,109,110,111,112,113,114,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,136,137,138,139,140,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  vessels_df = pd.read_csv(file_path)

File read successfully with default utf-8 encoding

In [ ]:
print("Total number of records ", len(vessels_df))

Total number of records  133461

In [ ]:
vessels_df.head(12)

,Vessel Name,IMO Number,Flag,MMSI,Call Sign,National Registration Number,Port of Registry,External Marking,Owner Name,Owner Address,...,PERU_VesselMonitoring_South_20Feb2025,PERU_QuotaAssigned_NorthCenter_20Feb2025,PERU_QuotaAssigned_South_20Feb2025,PERU_FishingAgreement_NorthCenter_20Feb2025,PERU_FishingAgreement_South_20Feb2025,PERU_Fleet_NorthCenter_20Feb2025,PERU_Fleet_South_20Feb2025,PERU_On IUU List_24Feb2025,PERU_Decree 1392 IUU Infraction,Unnamed: 144
0,00Me02609,NaN,Italy,NaN,NaN,ITA000005691,Messina,00Me02609,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00Rg,NaN,Croatia,NaN,NaN,HRV000002339,Latvia,00-Rg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 De Abril,NaN,Portugal,NaN,NaN,PRT000006814,Caminha,C-940-L,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 De Maio,NaN,Portugal,NaN,NaN,PRT000022238,Aveiro,Ptave-117195-L,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10 De Noviembre,9071301.0,Ar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,100,8331560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,100022Ti,NaN,Croatia,238861840.0,9A8947,HRV000001193,Tisno,100022-Ti,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,100029No,NaN,Croatia,NaN,NaN,HRV000000579,Novi Vinodolski,100029-No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100049Kb,NaN,Croatia,NaN,NaN,HRV000003083,Karlobag,100049-Kb,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,100100Su,NaN,Croatia,238358840.0,9A4276,HRV000001464,Supetar,100100-Su,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,100101Ct,NaN,NaN,NaN,NaN,HRV000001052,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,100101Ct,NaN,Croatia,NaN,NaN,HRV000001052,Cavtat,100101-Ct,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Create/read file for saving results

In [ ]:
# Define CSV save path
save_path = "/content/drive/My Drive/Outlaw Ocean/Global Fishing Watch/vessel_api_results.csv"

# Ensure CSV file exists with headers (original columns + API columns)
if not os.path.exists(save_path):
    # Create an empty DataFrame with extra API columns
    api_columns = ["api_shipname", "api_imo", "api_mmsi", "api_geartype", "api_flag"]
    df_columns = list(vessels_df.columns) + api_columns
    pd.DataFrame(columns=df_columns).to_csv(save_path, index=False)

## Helper functions for working with the Vessels API

In [ ]:
def search_vessel_api(url, headers, vessel_name):
    """
    Searches for vessel information based on the vessel name.

    :param url: The API endpoint URL.
    :param headers: The headers required for the API request.
    :param vessel_name: String containing the 'Vessel Name'.
    :return: The JSON response data if successful, or None if an error occurs.
    """
    # Define query parameters
    params = {
        "query": vessel_name,
        "datasets[0]": "public-global-vessel-identity:latest",
        "includes[0]": "MATCH_CRITERIA",
        "includes[1]": "OWNERSHIP",
        "includes[2]": "AUTHORIZATIONS",
        "limit": 25
    }

    # Make the request
    response = requests.get(url, headers=headers, params=params)

    # Check response status
    if response.status_code == 200:
        data = response.json()
        print(f"Total search results: {data.get('total', 'Unknown')}, Downloaded: {len(data.get('entries', []))}")
        return data  # Return the response JSON for further use
    else:
        print(f"Error: {response.status_code}, {response.text}")
        return None  # Return None if the request fails

In [ ]:
def is_valid_vessel_name(name):
    """
    Checks if a vessel name is valid based on the following criteria:
    - Must be longer than 3 characters
    - Should not contain excessive punctuation or corrupted characters
    - Allowed characters: letters, numbers, spaces, hyphens, commas, dots, and ampersands
    """
    if not isinstance(name, str) or len(name) <= 3:
        return False

    # Regular expression to allow typical vessel name characters
    valid_pattern = r'^[a-zA-Z0-9\s\-.,&]+$'

    # Check if name matches the valid pattern
    return bool(re.match(valid_pattern, name))

# Example usage:
vessel_names = [
    "Titanic", "00Me02609", "Aboubak Saddik Ex Rais Abdelwahid Ex Hadj Besadoune",
    "!@#$%^&*", "A", "MV Kingfisher", "El Mar Azul", "123", "D#estroyer"
]

valid_names = [name for name in vessel_names if is_valid_vessel_name(name)]
print("Valid Vessel Names:", valid_names)

Valid Vessel Names: ['Titanic', '00Me02609', 'Aboubak Saddik Ex Rais Abdelwahid Ex Hadj Besadoune', 'MV Kingfisher', 'El Mar Azul']

In [ ]:
def get_vessel_info(record, flag):
    """
    Extract vessel information from a record.

    :param record: The dictionary object containing vessel details.
    :param flag: The flag representing the vessel's country or registry.
    :return: Dictionary object containing extracted vessel information.
    """
    return {
        "api_shipname": record.get("shipname"),
        "api_imo": record.get("imo"),
        "api_mmsi": record.get("ssvid"),
        "api_geartype": ", ".join(record.get("geartypes", [])),
        "api_flag": flag,
    }

In [ ]:
def format_shipname(name):
  """
  Format the vessel name by stripping whitespace and converting to uppercase.

  :param name: The vessel name as a string.
  :return: Formatted vessel name in uppercase, or an empty string if input is None or empty.
  """
  if (name):
    return name.strip().upper()
  else:
    return ''

In [ ]:
def format_imo(imo):
  """
  Format the IMO (International Maritime Organization) number.

  :param imo: The IMO number, which may be a string, float, or NaN.
  :return: The IMO number as an integer if valid, otherwise an empty string.
  """
  if imo and not pd.isna(imo):
    return int(float(imo))
  else:
    return ''

In [ ]:
def find_vessel_match(scraped_record, data):
    """
    Searches for vessel information in API response data using vessel name or IMO number.

    :param scraped_record: Dictionary containing "Vessel Name", "IMO Number" & other values.
    :param data: API response data containing vessel entries.
    :return: Dictionary with matched vessel information with keys 'api_shipname', 'api_imo', 'api_mmsi', 'api_geartype', 'api_flag'.
    """
    # Normalize vessel name for comparison
    scraped_vessel_name = format_shipname(scraped_record["Vessel Name"])
    scraped_imo_number = format_imo(scraped_record["IMO Number"])
    #print("Scraped record:", scraped_vessel_name, scraped_imo_number)

    # Initialize vessel info
    vessel_info = None

    # Iterate through API response entries
    for entry in data.get("entries", []):

        # Search Registry info
        for registry_info in entry.get("registryInfo", []):
            api_vessel_name = format_shipname(registry_info.get("shipname"))
            api_nshipname = format_shipname(registry_info.get("nShipname"))
            api_imo = format_imo(registry_info.get("imo"))

            # Check for match by name or IMO number
            if scraped_vessel_name in {api_vessel_name, api_nshipname} or (
                scraped_imo_number and scraped_imo_number == api_imo
            ):
                print("Match found in Registry Info:", api_vessel_name, api_nshipname, api_imo)
                return get_vessel_info(registry_info, "registry")  # Return vessel info immediately if a match is found

        # Search AIS info (only if registryInfo didn't match)
        for vessel_data in entry.get("selfReportedInfo", []):
            api_vessel_name = format_shipname(vessel_data.get("shipname"))
            api_nshipname = format_shipname(vessel_data.get("nShipname"))
            api_imo = format_imo(vessel_data.get("imo"))

            # Check for match by name or IMO number
            if scraped_vessel_name in {api_vessel_name, api_nshipname} or (
                scraped_imo_number and scraped_imo_number == api_imo
            ):
                print("Match found in Self-Reported Info:", api_vessel_name, api_nshipname, api_imo)
                return get_vessel_info(vessel_data, "ais")  # Return vessel info immediately if a match is found

    # Return empty vessel_info if no match is found
    return vessel_info

In [ ]:
# Function to determine last processed index
def get_last_processed_index():
    """Reads the last processed vessel name from the CSV and finds its index in vessels_df."""
    if os.path.exists(save_path) and os.path.getsize(save_path) > 0:
        try:
            saved_df = pd.read_csv(save_path, usecols=["Vessel Name"])
            last_vessel = saved_df.iloc[-1]["Vessel Name"]  # Get last vessel name
            last_index = vessels_df[vessels_df["Vessel Name"] == last_vessel].index.max()
            return last_index + 1 if last_index is not None else 0  # Start from next row
        except Exception as e:
            print(f"Error reading last processed index: {e}")
            return 0  # Start from beginning if any issue
    return 0  # If no saved file, start from beginning

In [ ]:
get_last_processed_index()

60066

# Search for a single vessel name

In [ ]:
#scraped_record = vessels_df.iloc[767]
scraped_record = vessels_df.iloc[2]
scraped_record

Vessel Name                         1 De Abril
IMO Number                                 NaN
Flag                                  Portugal
MMSI                                       NaN
Call Sign                                  NaN
                                       ...
PERU_Fleet_NorthCenter_20Feb2025           NaN
PERU_Fleet_South_20Feb2025                 NaN
PERU_On IUU List_24Feb2025                 NaN
PERU_Decree 1392 IUU Infraction            NaN
Unnamed: 144                               NaN
Name: 2, Length: 145, dtype: object

In [ ]:
data = search_vessel_api(url, headers, scraped_record.get("Vessel Name"))

Total search results: 3719, Downloaded: 25

In [ ]:
find_vessel_match(scraped_record, data)

# Search a list of vessel names

The cell below searches for all vessel names in the dataframe set up earlier. The code limit the number of searches per minute will stop executing when it reaches the daily limit. All results are written out to a csv file on your Google Drive.

In [ ]:
# Track progress
start_index = get_last_processed_index()
print(f"Resuming from row {start_index}...")

requests_today = 0

for i in range(start_index, len(vessels_df)):
    #time.sleep(1)  # Wait for 1 second between api calls
    print("**********************")
    vessel_row = vessels_df.iloc[i]  # Full original row
    vessel_name = vessel_row["Vessel Name"]

    # Default API response (if invalid name or no API result)
    vessel_info = {
        "api_shipname": "",
        "api_imo": "",
        "api_mmsi": "",
        "api_geartype": "",
        "api_flag": "not found",
    }

    # Process API request if name is valid
    if is_valid_vessel_name(vessel_name):
        results = search_vessel_api(url, headers, vessel_name)
        if results:
            vessel_match = find_vessel_match(vessel_row, results)
            if vessel_match:
                vessel_info = vessel_match

    # Combine original row with API response
    combined_data = list(vessel_row) + list(vessel_info.values())

    # Convert to DataFrame and append to CSV without overwriting headers
    df = pd.DataFrame([combined_data])
    df.to_csv(save_path, mode="a", header=False, index=False, encoding="utf-8")

    print(f"Saved row {i}: {vessel_name}")

    requests_today += 1

    # Respect per-minute limit
    if (i + 1) % PER_MINUTE_LIMIT == 0:
        print(f"Waiting to avoid API rate limits... ({i+1} requests sent)")
        time.sleep(60)  # Sleep for 1 minute after 50 requests

    # Respect daily limit
    if requests_today >= DAILY_LIMIT:
        print(f"Reached daily limit of {DAILY_LIMIT} requests. Pausing until next day.")
        break  # Stop for today

Resuming from row 60066...
**********************
Total search results: 2467, Downloaded: 25
Saved row 60066: Kasih Hati 3
**********************
Total search results: 832, Downloaded: 25
Saved row 60067: Kasih Hati 4
**********************
Total search results: 1319, Downloaded: 25
Saved row 60068: Kasih Hati 5
**********************
Total search results: 33, Downloaded: 25
Saved row 60069: Kasih Hati Ii
**********************
Total search results: 6, Downloaded: 6
Match found in Self-Reported Info: KASIH JAYA KASIHJAYA
Saved row 60070: Kasih Jaya
**********************
Total search results: 6, Downloaded: 6
Match found in Self-Reported Info: KASIH JAYA KASIHJAYA
Saved row 60071: Kasih Jaya
**********************
Total search results: 0, Downloaded: 0
Saved row 60072: Kasih Sejahtera
**********************
Total search results: 4, Downloaded: 4
Match found in Self-Reported Info: KASIH SETIA 77 KASIHSETIA77
Saved row 60073: Kasih Setia 77
**********************
Total search results: 16, Downloaded: 16
Match found in Self-Reported Info: KASIH SETIA A KASIHSETIAA
Saved row 60074: Kasih Setia A
**********************
Total search results: 1, Downloaded: 1
Match found in Registry Info: KASIH SETIA BARU KASIHSETIABARU 8564624
Saved row 60075: Kasih Setia Baru
**********************
Total search results: 1, Downloaded: 1
Match found in Registry Info: KASIH SETIA BARU KASIHSETIABARU 8564624
Saved row 60076: Kasih Setia Baru
**********************
Total search results: 22, Downloaded: 22
Match found in Registry Info: KASIH SETIA - I KASIHSETIA1 8547236
Saved row 60077: Kasih Setia I
**********************
Total search results: 29, Downloaded: 25
Match found in Self-Reported Info: KASIH SETIA II KASIHSETIA2
Saved row 60078: Kasih Setia Ii
**********************
Total search results: 24, Downloaded: 24
Match found in Registry Info: KASIH SETIA - III KASIHSETIA3 8547559
Saved row 60079: Kasih Setia Iii
**********************
Total search results: 20, Downloaded: 20
Match found in Registry Info: KASIH SETIA - IX KASIHSETIA9 8547535
Saved row 60080: Kasih Setia Ix
**********************
Total search results: 0, Downloaded: 0
Saved row 60081: Kasih Setia Sejati
**********************
Total search results: 166, Downloaded: 25
Match found in Registry Info: KASIH SETIA - V KASIHSETIA5 8547523
Saved row 60082: Kasih Setia V
**********************
Total search results: 32, Downloaded: 25
Saved row 60083: Kasih Setia Vi
**********************
Total search results: 32, Downloaded: 25
Saved row 60084: Kasih Setia Vi
**********************
Total search results: 17, Downloaded: 17
Match found in Self-Reported Info: KASIH SETIA VII KASIHSETIA7
Saved row 60085: Kasih Setia Vii
**********************
Total search results: 9, Downloaded: 9
Match found in Registry Info: KASIH SETIA - XIV KASIHSETIA14 8546452
Saved row 60086: Kasih Setia Xiv
**********************
Total search results: 11, Downloaded: 11
Match found in Self-Reported Info: KASIH SETIA XV KASIHSETIA15
Saved row 60087: Kasih Setia Xv
**********************
Total search results: 11, Downloaded: 11
Match found in Registry Info: KASIH SETIA - XV KASIHSETIA15 8547250
Saved row 60088: Kasih Setia Xv
**********************
Total search results: 1, Downloaded: 1
Saved row 60089: Kasih Setia Xvia
**********************
Total search results: 1, Downloaded: 1
Saved row 60090: Kasih Setia Xvia
**********************
Total search results: 11, Downloaded: 11
Match found in Self-Reported Info: KASIH SETIA XVII KASIHSETIA17
Saved row 60091: Kasih Setia Xvii
**********************
Total search results: 11, Downloaded: 11
Match found in Self-Reported Info: KASIH SETIA XVII KASIHSETIA17
Saved row 60092: Kasih Setia Xvii
**********************
Total search results: 9, Downloaded: 9
Match found in Registry Info: KASIH SETIA - XVIII KASIHSETIA18 8547262
Saved row 60093: Kasih Setia Xviii
**********************
Total search results: 29, Downloaded: 25
Match found in Registry Info: KASIH SETIA - XX KASIHSETIA20 8548084
Saved row 60094: Kasih Setia Xx
**********************
Total search results: 29, Downloaded: 25
Match found in Self-Reported Info: KASIH SETIA XX KASIHSETIA20
Saved row 60095: Kasih Setia Xx
**********************
Total search results: 15, Downloaded: 15
Saved row 60096: Kasim Jaya
**********************
Total search results: 3, Downloaded: 3
Saved row 60097: Kasim Reis 2
**********************
Total search results: 5, Downloaded: 5
Match found in Registry Info: KASIMOGULLARI 4 KASIMOGULLARI4 9839894
Saved row 60098: Kasimogullari 4
**********************
Total search results: 8, Downloaded: 8
Match found in Registry Info: KASIRGA 1 KASIRGA1 8688133
Saved row 60099: Kasirga 1
**********************
Total search results: 8, Downloaded: 8
Match found in Registry Info: KASIRGA 2 KASIRGA2 9686924
Saved row 60100: Kasirga 2
**********************
Total search results: 8, Downloaded: 8
Match found in Registry Info: KASIRGA 2 KASIRGA2 9686924
Saved row 60101: Kasirga 2
**********************
Total search results: 9, Downloaded: 9
Match found in Self-Reported Info: KASIRGA 4 KASIRGA4
Saved row 60102: Kasirga 4
**********************
Total search results: 9, Downloaded: 9
Match found in Self-Reported Info: KASIRGA 5 KASIRGA5
Saved row 60103: Kasirga 5
**********************
Total search results: 11, Downloaded: 11
Match found in Registry Info: KAS-KEN KASKEN
Saved row 60104: Kasken
**********************
Total search results: 15, Downloaded: 15
Saved row 60105: Kasko
**********************
Total search results: 1, Downloaded: 1
Saved row 60106: Kasmi 2
**********************
Total search results: 2467, Downloaded: 25
Saved row 60107: Kasmi 3
**********************
Total search results: 4331, Downloaded: 25
Saved row 60108: Kasmosh 1
**********************
Total search results: 103, Downloaded: 25
Match found in Self-Reported Info: KASO KASO
Saved row 60109: Kaso
**********************
Total search results: 52, Downloaded: 25
Match found in Registry Info: KASPER KASPER
Saved row 60110: Kasper
**********************
Total search results: 52, Downloaded: 25
Match found in Registry Info: KASPER KASPER
Saved row 60111: Kasper
**********************
Total search results: 8, Downloaded: 8
Match found in Registry Info: KASPER ANDRE KASPERANDRE
Saved row 60112: Kasper Andre
**********************
Total search results: 11, Downloaded: 11
Saved row 60113: Kasper O
**********************
Total search results: 1, Downloaded: 1
Match found in Self-Reported Info: KASPIYSKIY KASPIYSKIY 8723359
Saved row 60114: Kaspiyskiy
**********************
Total search results: 2467, Downloaded: 25
Saved row 60115: Kaspryba 3
**********************
Total search results: 3571, Downloaded: 25
Saved row 60116: Kaspy 49
**********************
Total search results: 4706, Downloaded: 25
Saved row 60117: Kaspy 50
**********************
Total search results: 71, Downloaded: 25
Match found in Self-Reported Info: KASRA KASRA
Saved row 60118: Kasra
**********************
Total search results: 2, Downloaded: 2
Match found in Registry Info: KASSIDY LYN KASSIDYLYN
Saved row 60119: Kassidy Lyn
Waiting to avoid API rate limits... (60120 requests sent)
**********************
Total search results: 2, Downloaded: 2
Match found in Registry Info: KASSIDY LYN KASSIDYLYN
Saved row 60120: Kassidy Lyn
**********************
Total search results: 1, Downloaded: 1
Match found in Registry Info: KASTELPAOL KASTELPAOL
Saved row 60121: Kastelpaol
**********************
Total search results: 522, Downloaded: 25
Saved row 60122: Kastil I
**********************
Total search results: 33, Downloaded: 25
Saved row 60123: Kastil Ii
**********************
Total search results: 1, Downloaded: 1
Match found in Registry Info: KASTNA KASTNA 8870889
Saved row 60124: Kastna
**********************
Total search results: 10, Downloaded: 10
Match found in Self-Reported Info: KASUGA MARU NO18 KASUGAMARU18
Saved row 60125: Kasuga Maru No18
**********************
Total search results: 1, Downloaded: 1
Saved row 60126: Kasumy 1
**********************
Total search results: 352, Downloaded: 25
Match found in Self-Reported Info: KATA KATA 9015450
Saved row 60127: Kata
**********************
Total search results: 1, Downloaded: 1
Match found in Registry Info: KATAEVO KATAEVO 8722056
Saved row 60128: Kataevo
**********************
Total search results: 23, Downloaded: 23
Match found in Self-Reported Info: KATA H         [67%] KATAH
Saved row 60129: Katah
**********************
Total search results: 0, Downloaded: 0
Saved row 60130: Kataigida
**********************
Total search results: 80, Downloaded: 25
Saved row 60131: Kataja
**********************
Total search results: 6, Downloaded: 6
Match found in Registry Info: KATALEYA III KATALEYA3
Saved row 60132: Kataleya Iii
**********************
Total search results: 14, Downloaded: 14
Saved row 60133: Katalina Indra Jaya
**********************
Total search results: 0, Downloaded: 0
Saved row 60134: Katalunah
**********************
Total search results: 1, Downloaded: 1
Match found in Registry Info: KATAMBO KATAMBO 8523515
Saved row 60135: Katambo
**********************
Total search results: 158, Downloaded: 25
Match found in Self-Reported Info: KATARINA KATARINA
Saved row 60136: Katarina
**********************
Total search results: 0, Downloaded: 0
Saved row 60137: Katcetvansam
**********************
Total search results: 1, Downloaded: 1
Match found in Self-Reported Info: KATE KATE
Saved row 60138: Kate
**********************
Total search results: 1, Downloaded: 1
Match found in Self-Reported Info: KATE KATE
Saved row 60139: Kate
**********************
Total search results: 1, Downloaded: 1
Saved row 60140: Kate D
**********************
Total search results: 5, Downloaded: 5
Match found in Self-Reported Info: KATE ELIZABETH KATEELIZABETH
Saved row 60141: Kate Elizabeth
**********************
Total search results: 5, Downloaded: 5
Match found in Self-Reported Info: KATE ELIZABETH KATEELIZABETH
Saved row 60142: Kate Elizabeth
**********************
Total search results: 1, Downloaded: 1
Saved row 60143: Kate Ii
**********************
Total search results: 1, Downloaded: 1
Saved row 60144: Kate Ii
**********************
Total search results: 1, Downloaded: 1
Saved row 60145: Kate Kels
**********************
Total search results: 10, Downloaded: 10
Match found in Self-Reported Info: KATE MARIE KATEMARIE
Saved row 60146: Kate Marie
**********************
Total search results: 3, Downloaded: 3
Match found in Self-Reported Info: KATEGIDA KATEGIDA
Saved row 60147: Kategida
**********************
Total search results: 21, Downloaded: 21
Saved row 60148: Katein
**********************
Total search results: 6, Downloaded: 6
Match found in Self-Reported Info: KATELLA KATELLA
Saved row 60149: Katella
**********************
Total search results: 0, Downloaded: 0
Saved row 60150: Katequero
**********************
Total search results: 1, Downloaded: 1
Saved row 60151: Katerin
**********************
Total search results: 127, Downloaded: 25
Match found in Self-Reported Info: KATERINA KATERINA
Saved row 60152: Katerina
**********************
Total search results: 127, Downloaded: 25
Match found in Self-Reported Info: KATERINA KATERINA
Saved row 60153: Katerina
**********************
Total search results: 127, Downloaded: 25
Match found in Self-Reported Info: KATERINA KATERINA
Saved row 60154: Katerina
**********************
Total search results: 127, Downloaded: 25
Match found in Self-Reported Info: KATERINA KATERINA
Saved row 60155: Katerina
**********************
Total search results: 127, Downloaded: 25
Match found in Self-Reported Info: KATERINA KATERINA
Saved row 60156: Katerina
**********************
Total search results: 127, Downloaded: 25
Match found in Self-Reported Info: KATERINA KATERINA
Saved row 60157: Katerina
**********************
Total search results: 55, Downloaded: 25
Match found in Self-Reported Info: KATERINA A KATERINAA
Saved row 60158: Katerina A
**********************
Total search results: 222, Downloaded: 25
Match found in Registry Info: KATERINAK KATERINAK 8788969
Saved row 60159: Katerina K
**********************
Total search results: 348, Downloaded: 25
Match found in Self-Reported Info: KATERINA M KATERINAM
Saved row 60160: Katerina M
**********************
Total search results: 1, Downloaded: 1
Match found in Registry Info: KATERINA KONSTANTIA KATERINAKONSTANTIA 9843936
Saved row 60161: Katerinakonstantia
**********************
Total search results: 11, Downloaded: 11
Saved row 60162: Katerine Iii
**********************
Total search results: 0, Downloaded: 0
Saved row 60163: Katerinio
**********************
Total search results: 0, Downloaded: 0
Saved row 60164: Kathari Kardia
**********************
Total search results: 110, Downloaded: 25
Match found in Self-Reported Info: KATHARINA KATHARINA
Saved row 60165: Katharina
**********************
Total search results: 55, Downloaded: 25
Match found in Self-Reported Info: KATHARINE KATHARINE
Saved row 60166: Katharine
**********************
Total search results: 318, Downloaded: 25
Saved row 60167: Katharine I
**********************
Total search results: 26, Downloaded: 25
Match found in Self-Reported Info: KATHARINE II KATHARINE2
Saved row 60168: Katharine Ii
**********************
Total search results: 70, Downloaded: 25
Match found in Self-Reported Info: KATHE KATHE
Saved row 60169: Kathe
**********************
Total search results: 0, Downloaded: 0
Saved row 60170: Kathe Bandix
**********************
Total search results: 0, Downloaded: 0
Saved row 60171: Kathe Henke
**********************
Total search results: 38, Downloaded: 25
Saved row 60172: Kathe Ii
**********************
Total search results: 731, Downloaded: 25
Saved row 60173: Katherin Y Ariana Ii
**********************
Total search results: 1026, Downloaded: 25
Saved row 60174: Katherin Y Paola
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60175: Katherine
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60176: Katherine
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60177: Katherine
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60178: Katherine
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60179: Katherine
Waiting to avoid API rate limits... (60180 requests sent)
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60180: Katherine
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60181: Katherine
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60182: Katherine
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60183: Katherine
**********************
Total search results: 57, Downloaded: 25
Match found in Self-Reported Info: KATHERINE KATHERINE 8859861
Saved row 60184: Katherine
**********************
Total search results: 24, Downloaded: 24
Saved row 60185: Katherine 2
**********************
Total search results: 325, Downloaded: 25
Saved row 60186: Katherine I
**********************
Total search results: 57, Downloaded: 25
Match found in Registry Info: KATHERINE II KATHERINE2 8460309
Saved row 60187: Katherine Ii
**********************
Total search results: 57, Downloaded: 25
Match found in Registry Info: KATHERINE II KATHERINE2 8460309
Saved row 60188: Katherine Ii
**********************
Total search results: 57, Downloaded: 25
Match found in Registry Info: KATHERINE II KATHERINE2 8460309
Saved row 60189: Katherine Ii
**********************
Total search results: 315, Downloaded: 25
Saved row 60190: Katherine M
**********************
Total search results: 37, Downloaded: 25
Match found in Self-Reported Info: KATHI KATHI 7006974
Saved row 60191: Kathi
**********************
Total search results: 24, Downloaded: 24
Match found in Self-Reported Info: KATHLEEN KATHLEEN
Saved row 60192: Kathleen
**********************
Total search results: 24, Downloaded: 24
Match found in Self-Reported Info: KATHLEEN KATHLEEN
Saved row 60193: Kathleen
**********************
Total search results: 24, Downloaded: 24
Match found in Self-Reported Info: KATHLEEN KATHLEEN
Saved row 60194: Kathleen
**********************
Total search results: 3, Downloaded: 3
Saved row 60195: Kathleen Ann
**********************
Total search results: 2, Downloaded: 2
Match found in Self-Reported Info: KATHLEEN CHANCE KATHLEENCHANCE
Saved row 60196: Kathleen Chance
**********************
Total search results: 2, Downloaded: 2
Match found in Self-Reported Info: KATHLEEN CHANCE KATHLEENCHANCE
Saved row 60197: Kathleen Chance
**********************
Total search results: 7, Downloaded: 7
Match found in Registry Info: KATHLEEN JO KATHLEENJO
Saved row 60198: Kathleen Jo
**********************
Total search results: 191, Downloaded: 25
Match found in Registry Info: KATHLEEN K KATHLEENK 8704822
Saved row 60199: Kathleen K
**********************
Total search results: 5, Downloaded: 5
Saved row 60200: Kathleen Maria
**********************
Total search results: 124, Downloaded: 25
Match found in Registry Info: KATHRINA KATHRINA
Saved row 60201: Kathrina
**********************
Total search results: 124, Downloaded: 25
Match found in Registry Info: KATHRINA KATHRINA
Saved row 60202: Kathrina
**********************
Total search results: 44, Downloaded: 25
Match found in Self-Reported Info: KATHRINE KATHRINE
Saved row 60203: Kathrine
**********************
Total search results: 1, Downloaded: 1
Match found in Registry Info: KATHRINE HELT KATHRINEHELT 8595415
Saved row 60204: Kathrine Helt
**********************
Total search results: 1, Downloaded: 1
Saved row 60205: Kathryn Ann
**********************
Total search results: 6, Downloaded: 6
Match found in Registry Info: KATHRYN MARIE KATHRYNMARIE 8939233
Saved row 60206: Kathryn Marie
**********************
Total search results: 11, Downloaded: 11
Match found in Registry Info: KATHY ANN KATHYANN 8813908
Saved row 60207: Kathy Ann
**********************
Total search results: 11, Downloaded: 11
Match found in Registry Info: KATHY ANN KATHYANN 8813908
Saved row 60208: Kathy Ann
**********************
Total search results: 15, Downloaded: 15
Match found in Registry Info: KATHY H KATHYH
Saved row 60209: Kathy H
**********************
Total search results: 2, Downloaded: 2
Match found in Registry Info: KATHYJEANNE KATHYJEANNE 7202542
Saved row 60210: Kathy Jeanne
**********************
Total search results: 2, Downloaded: 2
Saved row 60211: Kathy Lynn
**********************
Total search results: 5, Downloaded: 5
Match found in Registry Info: KATHYMARIE KATHYMARIE 9010591
Saved row 60212: Kathy Marie
**********************
Total search results: 6, Downloaded: 6
Match found in Self-Reported Info: KATHY ROSE KATHYROSE
Saved row 60213: Kathy Rose
**********************
Total search results: 233, Downloaded: 25
Match found in Self-Reported Info: KATI KATI
Saved row 60214: Kati
**********************
Total search results: 233, Downloaded: 25
Match found in Self-Reported Info: KATI KATI
Saved row 60215: Kati
**********************
Total search results: 161, Downloaded: 25
Match found in Self-Reported Info: KATIA KATIA
Saved row 60216: Katia
**********************
Total search results: 161, Downloaded: 25
Match found in Self-Reported Info: KATIA KATIA
Saved row 60217: Katia
**********************
Total search results: 161, Downloaded: 25

## Note: Higher Confidence Matches
GFW [reccomends](https://globalfishingwatch.org/our-apis/assets/2024_Vessel_Viewer_and_APIs_behind_It.pdf) selecting vessels that have `INFO SOURCE = Registry and self-reported (AIS)` from the search results. This indicates that GFW is able to match registry data and AIS. This ensures that GFW has successfully matched registry data with AIS signals, providing the highest confidence that the two associated vessel_ids correspond to the same physical vessel based on publicly available registry information.